.card-up {
  margin-bottom: 30px;
}

.card-up__image {
  margin-right: 25px;
  margin-bottom: 0;
}

.card-up__description {
  display: inline-block;
  vertical-align: top;
  max-width: 490px;
}

.card-down__description {
  display: inline-block;
  vertical-align: top;
  max-width: 480px;
  margin-right: 35px;
}
